
:root{
    --diamond: #c5fcff;
    --hex: #e4bc7f;
    --brown: rgb(116, 52, 24);
}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

.navbar-end {
    text-decoration: none; 
    color: #c5fcff; 
    padding: 5px 10px; 
    border-radius: 5px; 
    transition: background-color 0.3s;
    font-size: bolder;

}

#nav-links a:hover {
    color: #c5fcff;
}

.header-2 .navbar{
    background-color: #e4bc7f;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.navbar-item{
    text-align: center;
    color:black;
    padding: 1.0rem;
    font-size: 1.0rem;
    display: flex;
    align-items: center;
}

.search-form {
    float: right;
    padding: 6px 10px;
   margin-right: 16px;
   font-size: 17px;
   cursor: pointer;
   height: 40px;
   border-radius: 10px;
  
}

.search-form input[type="search"]{
    background: whitesmoke;
    width: 30vw;
    margin-left: 2rem;
    font-size: 0.9rem;
    color: hsl(252, 30%, 17%);
    border-radius: 5px;
    box-sizing: border-box;
    height: 100%;
    
}

#search-btn {
    display: inline-block;
}


#quote-container {
    /*display: flex;*/
    flex-direction: column;
    align-items: center;
    text-align: center;
}

#quote {
    quotes: "“" "”";
    margin: 0;
    color: black;
    text-align: center;
    font-size: 26px;
    padding: 25px;
    font-weight: 500;
    position: relative;
    background-color:rgba(233, 233, 233, 0.942);;
  
    &::before,
    &::after {
      content: open-quote;
      font-size: 2.4em;
      color: aqua;
      position: absolute;
      font-family: Georgia, serif;
      top: 50%;
      transform: translateY(-50%);
    }
  
    &::before {
      left: 0;
      margin-left: 350px; 
    }
  
    &::after {
      content: close-quote;
      right: 0;
      margin-right: 350px;
      bottom: 3px;
    }
}

h1 {
    display: inline; 
    margin: 0; 
    font-weight: bold;
}

.fade-in-text {
    animation: color-change 5s infinite;
}

@keyframes color-change {
    0% {color:grey;}
    25% {color: aqua;}
    50% {color: #e4bc7f;}
    75% {color: rgb(118, 77, 32);}
    100% {color:plum;}
}

.hero {
    height: 700px;
    width:100%;
    margin: 0;
    background-image: url("../images/img_03.png");
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    background-position-y: -25px;
}

/* Footer Section */
.footer {
    margin: 0;
    padding: 0;
    background-color: black;
    color: white;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.footer-content {  
    width: 100%;
    max-width: 1320px; 
    margin: 0 auto;
    padding-top: 40px; 
    background-color: black;
}

.footer-widget {
    padding: 0 12px;
    box-sizing: border-box; 
}

.image {
    max-width: 200px;     
    
}

.email-form {
    align-items: center; 
    text-align: center; 
    max-width: 600px;
    margin: 0 auto; 
    padding: 20px;  
}

.email-form h3 {
    font-size: 17px;
    font-weight: bold;
    margin-bottom: 15px; 
}

.email-form input {
    width: 100%;
    margin-bottom: 10px; 
}


.follow-us a {
    text-decoration: none;
    padding: 10px;
    margin: 10px;
    border-radius: 50%;
}

.follow-us a i {
    font-size: 2.3em;
    color: white;
    opacity: 0.9;
    margin: 0.5px;
}

.follow-us h2 {
    font-size: 17px;
    font-weight: bold;
    text-align: center;
    margin-bottom: 30px;
    margin-top:15px;
}

p{
    text-align: center;
}
